* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
h1,
h2,
h3 {
  font-family: 'Roboto Mono';
}
p {
  font-family: 'Ubuntu Mono';
}
html,
body {
  font-size: 62.5%;
}
.topnav {
  justify-content: space-around;
  display: flex;
  margin: 2% auto;
  width: 80%;
}
.topnav a {
  font-size: 2.5rem;
  font: black;
}
header {
  background-image: url("../images/hanson-lu-qNHbXkO3Xbc-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  header {
    width: 100%;
  }
}
.airport {
  display: flex;
  align-items: center;
}
.main-content {
  width: 30%;
  background-color: white;
  margin: 5% 5% 0 5%;
  padding: 1%;
  border: solid grey 2px;
}
.main-content h1 {
  font-size: 3.8rem;
  margin-bottom: 4%;
  margin-top: 5%;
  text-align: center;
}
@media (max-width: 500px) {
  .main-content h1 {
    font-size: 2rem;
    margin: 0 0 4% 0;
  }
}
.main-content p {
  font-size: 2.7rem;
  text-align: center;
}
@media (max-width: 500px) {
  .main-content p {
    font-size: 1.5rem;
    margin: 0 0 4% 0;
  }
}
.main-content button {
  width: 100%;
  padding: 2%;
  margin: 4% auto 0 auto;
}
.mid {
  width: 80%;
  margin: 3% auto;
}
@media (max-width: 500px) {
  .mid {
    width: 100%;
  }
}
.aboutpics {
  justify-content: space-between;
  display: flex;
  width: 80%;
  margin: 3% auto;
}
@media (max-width: 500px) {
  .aboutpics {
    flex-direction: column;
    width: 100%;
  }
}
.aboutpics .cell {
  width: 33%;
}
@media (max-width: 500px) {
  .aboutpics .cell {
    width: 100%;
  }
}
.aboutpics .luggage {
  width: 33%;
}
@media (max-width: 500px) {
  .aboutpics .luggage {
    width: 100%;
  }
}
.aboutpics .noworries {
  width: 33%;
}
@media (max-width: 500px) {
  .aboutpics .noworries {
    width: 100%;
  }
}
.aboutpics h2 {
  margin-top: 1% ;
  font-size: 2.5rem;
  padding: 1%;
}
.aboutpics p {
  margin-top: 1%;
  font-size: 1.5rem;
  padding: 1%;
}
@media (max-width: 500px) {
  .aboutpics p {
    margin-bottom: 4%;
  }
}
.topnav {
  justify-content: space-around;
  display: flex;
  margin: 2% auto;
  width: 80%;
}
.topnav a {
  font-size: 2.5rem;
  font: grey;
}
.heading {
  width: 35%;
  margin: 0 auto;
}
.heading h1 {
  font-size: 6rem;
  margin: 5% auto 15% auto;
}
@media (max-width: 500px) {
  .heading h1 {
    font-size: 3rem;
    width: 80%;
    text-align: center;
  }
}
.about {
  justify-content: space-between;
  display: flex;
  width: 80%;
  margin: 5% auto ;
}
.about .top {
  width: 32%;
}
.about .top12 {
  width: 32%;
}
.about .top13 {
  width: 32%;
}
.about h2 {
  font-size: 2.5rem;
  margin: 2% 0;
  padding: 1%;
}
@media (max-width: 500px) {
  .about h2 {
    font-size: 1.5rem;
  }
}
.about h3 {
  font-size: 2rem;
  margin: 2% 0;
  padding: 1%;
}
@media (max-width: 500px) {
  .about h3 {
    font-size: 1rem;
  }
}
.bottom-about {
  justify-content: space-between;
  display: flex;
  width: 80%;
  margin: 0 auto 5% auto;
}
.bottom-about .bottom {
  width: 32%;
}
.bottom-about .bottom2 {
  width: 32%;
}
.bottom-about .bottom3 {
  width: 32%;
}
.bottom-about h2 {
  font-size: 2.5rem;
  margin: 2% 0;
  padding: 1%;
}
@media (max-width: 500px) {
  .bottom-about h2 {
    font-size: 1.5rem;
  }
}
.bottom-about h3 {
  font-size: 2rem;
  margin: 2% 0;
  padding: 1%;
}
@media (max-width: 500px) {
  .bottom-about h3 {
    font-size: 1rem;
  }
}
