header{
    background-image: url("../images/hanson-lu-qNHbXkO3Xbc-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width:80%;
    margin: 0 auto;
}


.main-content{
    width: 30%;
    background-color: white;
    margin: 5% 5% 0 5%;
    padding: 1%;
    border: solid grey 2px;

    h1{
        font-size: 3.8rem;
        margin-bottom: 4%;
        margin-top: 5%;
    }

    p{
        font-size: 2.7rem;
    }

    button{
        width:100%;
        padding: 2%;
        margin: 4% auto 0 auto;
    }
}

.mid{
    width:80%;
    margin: 3% auto;
}
.aboutpics{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 3% auto;

    .cell{
        width: 33%;
    }

    .luggage{
        width: 33%;
    }

    .noworries{
        width: 33%;
    }
    
    h2{
        margin-top: 1% ;
        font-size: 2.5rem;
        padding: 1%;
    }
    p{
        margin-top: 1%;
        font-size: 1.5rem;
        padding: 1%;
    }
}